<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
    <div class="uk-container uk-container-expand uk-padding">        
        <div>
            Editar Tipo Vehículo
            <a class="uk-link-heading uk-align-right@m" uk-icon="reply" [routerLink]="['/admin/tipovehiculos']" href="#">Volver </a>
        </div>
        <hr>
        <div *ngIf="alert" class="uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>La tabla se actualizó correctamente.</p>
        </div>
        <div *ngIf="error" class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Error, la tabla no se actualizó!</p>
        </div>
        <div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">            
            <!-- panel -->
            <div class="uk-width-1-1@l uk-overflow-auto">
                <form class="uk-grid-small uk-background-muted uk-padding-small" [formGroup]="formularioUpdate" (ngSubmit)="update()" uk-grid>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="nombre_tipovehiculo">Nombre Grado</label>
                        <input class="uk-input" type="text" aria-label="50" formControlName='nombre_tipovehiculo' id="nombre_tipovehiculo" >
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="descripcion_tipovehiculo">Descripción</label>
                        <input class="uk-input" type="text" aria-label="50" formControlName='descripcion_tipovehiculo' id="descripcion_tipovehiculo" >
                    </div>                    
                    <div class="uk-width-1-2@s">                        
                        <label><input class="uk-checkbox" type="checkbox" formControlName='estado_tipovehiculo' id="estado_tipovehiculo" > Activo</label>
                    </div>                    
                    
                    <div class="uk-margin-bottom">
                        <button type="submit" [disabled]="!formularioUpdate.valid" class="uk-button uk-button-primary  uk-width-1-1">Actualizar</button>
                    </div>
                </form>
               
                  
                
            </div>
            <!-- /panel -->
            
        </div>
        
    </div>
</div>
<!-- /CONTENT -->