<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
    <div class="uk-container uk-container-expand uk-padding">        
        <div>
            Editar Circuito
            <a class="uk-link-heading uk-align-right@m" uk-icon="reply" [routerLink]="['/admin/circuitos']" href="#">Volver </a>
        </div>
        <hr>
        <div *ngIf="alert" class="uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>La tabla se actualizó correctamente.</p>
        </div>
        <div *ngIf="error" class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Error, la tabla no se actualizó!</p>
        </div>
        <div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">            
            <!-- panel -->
            <div class="uk-width-1-1@l uk-overflow-auto">
                <form class="uk-grid-small uk-background-muted uk-padding-small" [formGroup]="formularioUpdate" (ngSubmit)="update()" uk-grid>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="numero_circuito">Número</label>
                        <input class="uk-input" type="number" aria-label="50" formControlName='numero_circuito' id="numero_circuito" >
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="codigo_circuito">Código</label>
                        <input class="uk-input" type="text" aria-label="50" formControlName='codigo_circuito' id="codigo_circuito" >
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="nombre_circuito">Nombre</label>
                        <input class="uk-input" type="text" aria-label="50" formControlName='nombre_circuito' id="nombre_circuito" >
                    </div>                         
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="id_distrito">Distrito</label>
                        <select class="uk-select" formControlName='id_distrito' id="id_distrito">
                            <option [defaultSelected]=true [value]="id_distrito_df" >{{nombre_distrito_df}}</option>
                            <option *ngFor="let item of distritos" [value]="item.id_distrito" >{{ item.nombre_distrito }}</option>                            
                        </select>
                    </div>
                    <div class="uk-width-1-2@s">                        
                        <label><input class="uk-checkbox" type="checkbox" formControlName='estado_circuito' id="estado_circuito" > Activo</label>
                    </div>                    
                    
                    <div class="uk-margin-bottom">
                        <button type="submit" [disabled]="!formularioUpdate.valid" class="uk-button uk-button-primary  uk-width-1-1">Actualizar</button>
                    </div>
                </form>
               
                  
                
            </div>
            <!-- /panel -->
            
        </div>
        
    </div>
</div>
<!-- /CONTENT -->